$main-color-light: #ddfff7;
$main-color-normal: #e980fc;
$main-color-dark: #b96ac9;

$accent-color: #231b1b;

$margin: 15px 0;

$font-size-xs: 12px;
$font-size-xm: 14px;
$font-size-xl: 16px;
$font-size-xxl: 18px;
$font-size-xxxl: 20px;
