$main-color-light: #ddfff7;
$main-color-normal: #e980fc;
$main-color-dark: #b96ac9;

$accent-color: #231b1b;

$margin: 15px 0;
$margin-bottom: 15px;

$font-size-xs: 12px;
$font-size-xm: 14px;
$font-size-xl: 16px;
$font-size-xxl: 18px;
$font-size-xxxl: 20px;
$font-size-xxxxl: 24px;

$width-mobile: 300px;
$width-tablet: 450px;
$width-desktop: 750px;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
